{% extends "base.html" %}

{% block content %}
  <h1>Edit BudgetBook</h1>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.title.label }}<br>
      {{ form.title(size=64) }}<br>
      {% for error in form.title.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.expense.label }}<br>
      {{ form.expense(size=32) }}<br>
      {% for error in form.expense.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
