{% extends "base.html" %}

{% block content %}
<center>
<h1>Hello, {{ current_user.username }}</h1><br>
    <h2>Welcome to this CUS1166 Project. Here you can <i><b>manage your account Portfolio</b></i> to:</h2></center>
  <h3>
    <ul>
      <li>Create a BudgetBook and list what you plan to spend your money on, and what your estimated budget is.</li>
      <li>Manage a purchasing list for all your upcoming purchases, as well as distinguish between what you've already purchased and what you must purchase later.</li>
    </ul>
  </h3>
    <br>
<center>
{% if current_user.is_anonymous %}
  <h3><font color="red">In order to begin, you must register an account, or login if you have one already.</font></h3><br>
{% endif %}
  <h2> This project is small, but it (hopefully) demonstrates understanding of concepts learned in CUS1166 @ St. John's University </h2>
  <img src="https://apply-stjohns-edu.cdn.technolutions.net/www/images/StJohns_270x900_96dpi.png" alt="SJULogo">
</center>
{% endblock %}
